* {margin: 0 auto; padding: 0} img {border : 0}
body {
   font-family: Garamond;
} 
/*START - Barra de Acessibilidade*/
.center {
   text-align: center;
}

.row {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 1024px;
  margin: auto;
  overflow: hidden;
  display: block;
}

.row-header {
  background: #534546;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  color: #FFFFFF;
  display: inline-block;
  padding: 17px;
  font-size: 11px;
  text-transform: uppercase;
}

nav ul li a[data-contraste="0"] {
  background: #FFFFFF;
  color: #000000;
}

.row-top {
  background: #504848;
  color: #FFFFFF;
  margin-top: 47px;
}

.row-top .container {
  padding: 1.5% 0;
  text-align: center;
  font-size: 1.5em;
}

.row-banner, footer {
  background: #6b5351;
  color: #FFFFFF;
  text-align: center;
}

.row-banner .container {
  padding: 8% 0;
  position: relative;
  text-align: center;
}

.row-banner .avatar {
  border: 5px solid #fff;
  border-radius: 50%;
  padding: 0.5%;
  margin-top: 2%;
}

.oculos {
  position: absolute;
  top: 49%;
  left: 40.7%;
}

.row-banner h1 {
  text-transform: uppercase;
}

.row-banner h1 span {
  color: #fdf210;
}

.row-content {
  background: #634949;
  color: #fdf210;
}

.row-content .container {
  padding: 8% 0;
}

.row-content .box {
  width: 46%;
  margin: 4% 0;
  float: left;
  text-align: center;
}

.row-content .box h2 {
  padding-bottom: 2%;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.row-content .box i {
  font-style: normal;
  color: #fdf210;
  font: 1em;
}

.row-content .box p {
  color: #FFFFFF;
  padding: 2%;
}

footer {
  padding: 3% 0;
   position: relative;
   bottom: 0;
}

/*START - Contraste Branco*/

#contrasteBranco .row-header,
#contrasteBranco .row-top,
#contrasteBranco .row-banner,
#contrasteBranco .row-content,
#contrasteBranco footer{
  border-top: 1px solid #0a0a0a;
  background: #FFFFFF;
}

#contrasteBranco nav ul li a,
#contrasteBranco .row-top,
#contrasteBranco .row-banner,
#contrasteBranco .row-content,
#contrasteBranco .row-content .box p,
#contrasteBranco .row-content .box i,
#contrasteBranco .row-banner h1 span,
#contrasteBranco footer {
  color: #000000;
}

#contrasteBranco nav ul li a.contraste-active {
  color: #FFFFFF;
  background: #000000;
}

#contrasteBranco nav ul li a[data-contraste="1"],
#contrastePreto nav ul li a[data-contraste="0"] {
  background: #000000;
  color: #FFFFFF;
}

#contrasteBranco .row-banner .avatar {
  border: 5px solid #000;
}
/*END - Contraste Branco*/
/*START - Contraste Preto*/
#contrastePreto .row-header,
#contrastePreto .row-top,
#contrastePreto .row-banner,
#contrastePreto .row-content,
#contrastePreto footer{
  border-top: 1px solid #FFFFFF;
  background: #000000;
}

#contrastePreto nav ul li a,
#contrastePreto .row-top,
#contrastePreto .row-banner,
#contrastePreto .row-content,
#contrastePreto .row-content .box p,
#contrastePreto .row-content .box i,
#contrastePreto .row-banner h1 span,
#contrastePreto footer {
  color: #FFFFFF;
}

#contrastePreto nav ul li a[data-contraste="2"] {
  color: #000000;
  background: #FFFFFF;
}

#contrastePreto .row-banner .avatar {
  border: 5px solid #FFFFFF;
}
/*END - Contraste Preto*/
/*START - Contraste azul*/
#contrasteAzul .row-header,
#contrasteAzul .row-top,
#contrasteAzul .row-banner,
#contrasteAzul .row-content,
#contrasteAzul footer{
  border-top: 1px solid #FFFFFF;
  background: #0b325c;
}

#contrasteAzul nav ul li a[data-contraste="0"] {
  background: #0b325c;
}

#contrasteAzul nav ul li a[data-contraste="3"] {
  background: #FFFFFF;
  color: #0b325c;
}

#contrasteAzul nav ul li a,
#contrasteAzul .row-top,
#contrasteAzul .row-banner,
#contrasteAzul .row-content,
#contrasteAzul .row-content .box p,
#contrasteAzul .row-content .box i,
#contrasteAzul .row-banner h1 span,
#contrasteAzul footer {
  color: #FFFFFF;
}

#contrasteAzul nav ul li a.contraste-active {
  color: #0b325c;
  background: #FFFFFF;
}

#contrasteAzul .row-banner .avatar {
  border: 5px solid #FFFFFF;
}
div div img:hover{
  background-color: #876054;
  color: #be7a5c;
  border: 4px solid #000000;
}
.col-1   {width: 8.33%;}
.col-2   {width: 16.66%;}
.col-3   {width: 25%;}
.col-4   {width: 33.33%;}
.col-5   {width: 41.66%;}
.col-6   {width: 50%;}
.col-7   {width: 58.33%;}
.col-8   {width: 66.66%;}
.col-9   {width: 75%;}
.col-10  {width: 83.33%;}
.col-11  {width: 91.66%;}
.col-12  {width: 100%;}
 
[class*="col-"] {
    float:left;
    padding: 15px;
}
